<!-- For assistance related to logback-translator or configuration files 
in general, please contact the logback user mailing list at http://www.qos.ch/mailman/listinfo/logback-user. 
For professional support please see http://www.qos.ch/shop/products/professionalSupport -->
<configuration scan="true" scanPeriod="30 seconds" >
	
	<if condition='isDefined("catalina.home")'>
        <then>
            <property name="log.folder" value="${CATALINA_HOME}/logs"/>
        </then>
        <else>
            <property name="log.folder" value="./target/logs"/>
        </else>
    </if>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %5level %logger{15} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.folder}/logs/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Keep only 10 archives -->
            <maxHistory>10</maxHistory>
            <!-- rollover daily -->
            <fileNamePattern>${CATALINA_HOME}/logs/logs-archives/api-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%thread] %date{HH:mm:ss.SSS} - %level - %logger{15} - %msg%rEx%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.springframework" level="WARN" />
    
    <logger name="fr.soc" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="stdout" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>